<!-- Mega menu: about-us -->
<div
  id="mega-about-us"
  class="site-header__mega"
  aria-hidden="true"
  data-mega-panel
>
  <div class="site-header__mega-inner">
    <aside class="site-header__mega-cats" aria-label="About Us">
      <div class="site-header__mega-cats-intro">
        <p class="site-header__mega-cats-title">About Us</p>
        <p class="site-header__mega-cats-text">
          Learn more about our network, approach and values.
        </p>
      </div>
    </aside>

    <div class="site-header__mega-content">
      <div
        id="mega-about-us-panel-1"
        class="site-header__mega-pane is-active"
        role="region"
        aria-label="About Us"
        data-mega-pane
        aria-hidden="false"
      >
        <div class="site-header__mega-pane-header">
          <div class="site-header__mega-pane-intro">
            <p class="site-header__mega-pane-title">About Us</p>
            <p class="site-header__mega-pane-text">
              Learn more about our network, approach and values.
            </p>
          </div>
          <a class="site-header__mega-view-all" href="#">
            <span>View all</span>
            {{> icon
              name="arrow"
              width="16"
              height="16"
            }}
          </a>
        </div>

        <div class="site-header__mega-divider" aria-hidden="true"></div>

        <div class="site-header__mega-body">
          <div class="site-header__mega-links">
            <ul class="site-header__mega-col">
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Who We Are</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>International Reach</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Corporate Responsibility</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
            </ul>
            <ul class="site-header__mega-col">
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Methodology</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Values Vision & Approach</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Transparency Report</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
            </ul>
          </div>

          <article class="site-header__mega-featured">
            <div class="site-header__mega-featured-media">
              <img
                src="/images/mega-menu-featured.png"
                alt=""
                width="300"
                height="160"
              />
            </div>
            <div class="site-header__mega-featured-content">
              <p class="site-header__mega-featured-label">About Us</p>
              <p class="site-header__mega-featured-title">
                Explore how our about us specialists support your business.
              </p>
              <a class="site-header__mega-featured-link" href="#">
                <span>Learn more</span>
                {{> icon
                  name="arrow"
                  width="16"
                  height="16"
                }}
              </a>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
