<!-- Mega menu: about-us -->
<div
  id="mega-about-us"
  class="site-header__mega"
  aria-hidden="true"
  data-mega-panel
>
  <div class="site-header__mega-inner">

    <div class="site-header__mega-content">
      <div
        id="mega-about-us-panel-1"
        class="site-header__mega-pane is-active"
        role="region"
        aria-label="About Us"
        data-mega-pane
        aria-hidden="false"
      >
        <div class="site-header__mega-pane-header">
          <div class="site-header__mega-pane-intro">
            <p class="site-header__mega-pane-title">About Us</p>
            <p class="site-header__mega-pane-text">
              Learn more about our network, approach and values.
            </p>
          </div>
        </div>

        <div class="site-header__mega-divider" aria-hidden="true"></div>

        <div class="site-header__mega-body">
          <div class="site-header__mega-links">
            <ul class="site-header__mega-col">
              <li>
                <a class="site-header__mega-link" href="about-us.html">
                  <span>About Parker Russell</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Corporate Social Responsibility</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Our Mission</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Values & Approach</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Board of Members</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Governance</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
            </ul>
            <ul class="site-header__mega-col">
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Our Commitment To Quality</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="awards-recognition.html">
                  <span>Awards</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Member Firms</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Methodology</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Technical Committees</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
