<!-- Mega menu: industries -->
<div
  id="mega-industries"
  class="site-header__mega"
  aria-hidden="true"
  data-mega-panel
>
  <div class="site-header__mega-inner">
    <aside class="site-header__mega-cats" aria-label="Industries">
      <div class="site-header__mega-cats-intro">
        <p class="site-header__mega-cats-title">Industries</p>
        <p class="site-header__mega-cats-text">
          Sector knowledge combined with audit, tax and advisory expertise.
        </p>
      </div>
    </aside>

    <div class="site-header__mega-content">
      <div
        id="mega-industries-panel-1"
        class="site-header__mega-pane is-active"
        role="region"
        aria-label="Industries"
        data-mega-pane
        aria-hidden="false"
      >
        <div class="site-header__mega-pane-header">
          <div class="site-header__mega-pane-intro">
            <p class="site-header__mega-pane-title">Industries</p>
            <p class="site-header__mega-pane-text">
              Sector knowledge combined with audit, tax and advisory expertise.
            </p>
          </div>
          <a class="site-header__mega-view-all" href="#">
            <span>View all</span>
            {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
          </a>
        </div>

        <div class="site-header__mega-divider" aria-hidden="true"></div>

        <div class="site-header__mega-body">
          <div class="site-header__mega-links">
            <ul class="site-header__mega-col">
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Professional Practices</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Property & Construction</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Manufacturing & Retail</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Business Services</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Financial Services</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Travel, Leisure & Tourism</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
            </ul>
            <ul class="site-header__mega-col">
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>E-Commerce & Retail</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Renewable Energy</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Technology, Media & Telecoms</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Defence Industry</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Oil, Gas and Natural Resources</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
            </ul>
          </div>

          <article class="site-header__mega-featured">
            <div class="site-header__mega-featured-media">
              <img
                src="/images/mega-menu-featured.png"
                alt=""
                width="300"
                height="160"
              />
            </div>
            <div class="site-header__mega-featured-content">
              <p class="site-header__mega-featured-label">Industries</p>
              <p class="site-header__mega-featured-title">
                Explore how our industries specialists support your business.
              </p>
              <a class="site-header__mega-featured-link" href="#">
                <span>Learn more</span>
                {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
              </a>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
