<!-- Mega menu: services -->
<div
  id="mega-services"
  class="site-header__mega"
  aria-hidden="true"
  data-mega-panel
>
  <div class="site-header__mega-inner">
    <aside class="site-header__mega-cats" aria-label="Service categories">
      <div class="site-header__mega-cats-intro">
        <p class="site-header__mega-cats-title">Services</p>
        <p class="site-header__mega-cats-text">
          Specialist expertise across audit, tax, advisory and business support.
        </p>
      </div>

      <ul class="site-header__mega-cats-list" role="tablist">
        <li>
          <button
            id="mega-services-cat-1"
            class="site-header__mega-cat is-active"
            type="button"
            role="tab"
            aria-selected="true"
            aria-controls="mega-services-panel-1"
            data-mega-cat
            data-mega-target="mega-services-panel-1"
          >
            <span>Audit & Assurance</span>
            {{> icon
              name="chevron-right"
              width="20"
              height="20"
            }}
          </button>
        </li>
        <li>
          <button
            id="mega-services-cat-2"
            class="site-header__mega-cat"
            type="button"
            role="tab"
            aria-selected="false"
            aria-controls="mega-services-panel-2"
            data-mega-cat
            data-mega-target="mega-services-panel-2"
          >
            <span>Tax</span>
            {{> icon
              name="chevron-right"
              width="20"
              height="20"
            }}
          </button>
        </li>
        <li>
          <button
            id="mega-services-cat-3"
            class="site-header__mega-cat"
            type="button"
            role="tab"
            aria-selected="false"
            aria-controls="mega-services-panel-3"
            data-mega-cat
            data-mega-target="mega-services-panel-3"
          >
            <span>Business Services & Outsourcing</span>
            {{> icon
              name="chevron-right"
              width="20"
              height="20"
            }}
          </button>
        </li>
        <li>
          <button
            id="mega-services-cat-4"
            class="site-header__mega-cat"
            type="button"
            role="tab"
            aria-selected="false"
            aria-controls="mega-services-panel-4"
            data-mega-cat
            data-mega-target="mega-services-panel-4"
          >
            <span>Advisory</span>
            {{> icon
              name="chevron-right"
              width="20"
              height="20"
            }}
          </button>
        </li>
        <li>
          <button
            id="mega-services-cat-5"
            class="site-header__mega-cat"
            type="button"
            role="tab"
            aria-selected="false"
            aria-controls="mega-services-panel-5"
            data-mega-cat
            data-mega-target="mega-services-panel-5"
          >
            <span>Capital Markets</span>
            {{> icon
              name="chevron-right"
              width="20"
              height="20"
            }}
          </button>
        </li>
      </ul>
    </aside>

    <div class="site-header__mega-content">
      <div
        id="mega-services-panel-1"
        class="site-header__mega-pane is-active"
        role="tabpanel"
        aria-labelledby="mega-services-cat-1"
        data-mega-pane
        aria-hidden="false"
      >
        <div class="site-header__mega-pane-header">
          <div class="site-header__mega-pane-intro">
            <p class="site-header__mega-pane-title">Audit & Assurance</p>
            <p class="site-header__mega-pane-text">
              Independent assurance across audit, reporting and specialist reviews.
            </p>
          </div>
          <a class="site-header__mega-view-all" href="#">
            <span>View all</span>
            {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
          </a>
        </div>

        <div class="site-header__mega-divider" aria-hidden="true"></div>

        <div class="site-header__mega-body">
          <div class="site-header__mega-links">
            <ul class="site-header__mega-col">
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>External Audit</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Assurance Services</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>ESG Assurance</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Corporate Reporting</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
            </ul>
            <ul class="site-header__mega-col">
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Submitting SRA Reports</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>ARLA Association</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Forensic Accounting</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
            </ul>
          </div>

          <article class="site-header__mega-featured">
            <div class="site-header__mega-featured-media">
              <img
                src="/images/mega-menu-featured.png"
                alt=""
                width="300"
                height="160"
              />
            </div>
            <div class="site-header__mega-featured-content">
              <p class="site-header__mega-featured-label">Audit & Assurance</p>
              <p class="site-header__mega-featured-title">
                Explore how our audit & assurance specialists support your business.
              </p>
              <a class="site-header__mega-featured-link" href="#">
                <span>Learn more</span>
                {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
              </a>
            </div>
          </article>
        </div>
      </div>

      <div
        id="mega-services-panel-2"
        class="site-header__mega-pane"
        role="tabpanel"
        aria-labelledby="mega-services-cat-2"
        data-mega-pane
        aria-hidden="true"
      >
        <div class="site-header__mega-pane-header">
          <div class="site-header__mega-pane-intro">
            <p class="site-header__mega-pane-title">Tax</p>
            <p class="site-header__mega-pane-text">
              Domestic and cross-border tax advice for businesses and private clients.
            </p>
          </div>
          <a class="site-header__mega-view-all" href="#">
            <span>View all</span>
            {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
          </a>
        </div>

        <div class="site-header__mega-divider" aria-hidden="true"></div>

        <div class="site-header__mega-body">
          <div class="site-header__mega-links">
            <ul class="site-header__mega-col">
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Business Taxation</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Pillar 2 Compliance Services</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Private Client Taxation</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Innovation and R&D Tax</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
            </ul>
            <ul class="site-header__mega-col">
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Venture Capital Tax Reliefs</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Cross Border & Offshore</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Tax & Legal</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Making Tax Digital Compliance</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
            </ul>
          </div>

          <article class="site-header__mega-featured">
            <div class="site-header__mega-featured-media">
              <img
                src="/images/mega-menu-featured.png"
                alt=""
                width="300"
                height="160"
              />
            </div>
            <div class="site-header__mega-featured-content">
              <p class="site-header__mega-featured-label">Tax</p>
              <p class="site-header__mega-featured-title">
                Explore how our tax specialists support your business.
              </p>
              <a class="site-header__mega-featured-link" href="#">
                <span>Learn more</span>
                {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
              </a>
            </div>
          </article>
        </div>
      </div>

      <div
        id="mega-services-panel-3"
        class="site-header__mega-pane"
        role="tabpanel"
        aria-labelledby="mega-services-cat-3"
        data-mega-pane
        aria-hidden="true"
      >
        <div class="site-header__mega-pane-header">
          <div class="site-header__mega-pane-intro">
            <p class="site-header__mega-pane-title">Business Services & Outsourcing</p>
            <p class="site-header__mega-pane-text">
              Practical support across accounting, outsourcing and business operations.
            </p>
          </div>
          <a class="site-header__mega-view-all" href="#">
            <span>View all</span>
            {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
          </a>
        </div>

        <div class="site-header__mega-divider" aria-hidden="true"></div>

        <div class="site-header__mega-body">
          <div class="site-header__mega-links">
            <ul class="site-header__mega-col">
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Accountancy</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Outsourcing</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Company Formation</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>IT, Computer & Sage</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
            </ul>
            <ul class="site-header__mega-col">
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Human Resources</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Management</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Finance Professionals</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
            </ul>
          </div>

          <article class="site-header__mega-featured">
            <div class="site-header__mega-featured-media">
              <img
                src="/images/mega-menu-featured.png"
                alt=""
                width="300"
                height="160"
              />
            </div>
            <div class="site-header__mega-featured-content">
              <p class="site-header__mega-featured-label">Business Services & Outsourcing</p>
              <p class="site-header__mega-featured-title">
                Explore how our business services & outsourcing specialists support your business.
              </p>
              <a class="site-header__mega-featured-link" href="#">
                <span>Learn more</span>
                {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
              </a>
            </div>
          </article>
        </div>
      </div>

      <div
        id="mega-services-panel-4"
        class="site-header__mega-pane"
        role="tabpanel"
        aria-labelledby="mega-services-cat-4"
        data-mega-pane
        aria-hidden="true"
      >
        <div class="site-header__mega-pane-header">
          <div class="site-header__mega-pane-intro">
            <p class="site-header__mega-pane-title">Advisory</p>
            <p class="site-header__mega-pane-text">
              Strategic advice for transactions, growth, structure and compliance.
            </p>
          </div>
          <a class="site-header__mega-view-all" href="#">
            <span>View all</span>
            {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
          </a>
        </div>

        <div class="site-header__mega-divider" aria-hidden="true"></div>

        <div class="site-header__mega-body">
          <div class="site-header__mega-links">
            <ul class="site-header__mega-col">
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Corporate Services</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Corporate Finance</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Due Diligence</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Valuations</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Acquisitions</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Buying & Selling a Business</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Mergers & Acquisitions</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Raising Finance</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>External Finance</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
            </ul>
            <ul class="site-header__mega-col">
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>UK Inward Investment</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Starting a UK Business</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Business Structure</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Legal Requirements</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Marketing</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Directors Investment</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>FinTech Compliance Solutions</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Crypto Assets Compliance</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
            </ul>
          </div>

          <article class="site-header__mega-featured">
            <div class="site-header__mega-featured-media">
              <img
                src="/images/mega-menu-featured.png"
                alt=""
                width="300"
                height="160"
              />
            </div>
            <div class="site-header__mega-featured-content">
              <p class="site-header__mega-featured-label">Advisory</p>
              <p class="site-header__mega-featured-title">
                Explore how our advisory specialists support your business.
              </p>
              <a class="site-header__mega-featured-link" href="#">
                <span>Learn more</span>
                {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
              </a>
            </div>
          </article>
        </div>
      </div>

      <div
        id="mega-services-panel-5"
        class="site-header__mega-pane"
        role="tabpanel"
        aria-labelledby="mega-services-cat-5"
        data-mega-pane
        aria-hidden="true"
      >
        <div class="site-header__mega-pane-header">
          <div class="site-header__mega-pane-intro">
            <p class="site-header__mega-pane-title">Capital Markets</p>
            <p class="site-header__mega-pane-text">
              Support for listings, private equity and capital markets reporting.
            </p>
          </div>
          <a class="site-header__mega-view-all" href="#">
            <span>View all</span>
            {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
          </a>
        </div>

        <div class="site-header__mega-divider" aria-hidden="true"></div>

        <div class="site-header__mega-body">
          <div class="site-header__mega-links">
            <ul class="site-header__mega-col">
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>AIM-IPO</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Initial Public Offerings</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Private Equity</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
            </ul>
            <ul class="site-header__mega-col">
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Reporting Accountant</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Safeguarding Audit Advisory Services</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
              <li>
                <a class="site-header__mega-link" href="#">
                  <span>Cass Audit Services UK</span>
                  {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
                </a>
              </li>
            </ul>
          </div>

          <article class="site-header__mega-featured">
            <div class="site-header__mega-featured-media">
              <img
                src="/images/mega-menu-featured.png"
                alt=""
                width="300"
                height="160"
              />
            </div>
            <div class="site-header__mega-featured-content">
              <p class="site-header__mega-featured-label">Capital Markets</p>
              <p class="site-header__mega-featured-title">
                Explore how our capital markets specialists support your business.
              </p>
              <a class="site-header__mega-featured-link" href="#">
                <span>Learn more</span>
                {{> icon
                    name="arrow"
                    width="16"
                    height="16"
                  }}
              </a>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
