<!-- Mobile submenu panel: About Us -->
<section
  id="mobile-panel-about-us"
  class="mobile-nav__panel"
  data-mobile-panel="about-us"
  inert
>
  <div class="mobile-nav__panel-head">
    <button
      class="mobile-nav__back"
      type="button"
      data-mobile-back
      aria-label="Back to main menu"
    >
      {{> icon
        name="chevron-right"
        width="20"
        height="20"
        class="mobile-nav__back-icon"
      }}
    </button>
    <p class="mobile-nav__panel-title">About Us</p>
  </div>

  <p class="mobile-nav__panel-text">
    Learn more about our network, approach and values.
  </p>

  <ul class="mobile-nav__acc-list">
          <li>
            <a class="mobile-nav__acc-link" href="about-us.html">
              <span>Who We Are</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="awards-recognition.html">
              <span>Awards</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>International Reach</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="corporate-social-responsibility.html">
              <span>Corporate Responsibility</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Methodology</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="values-vision-approach.html">
              <span>Values Vision & Approach</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="board-of-members.html">
              <span>Board of Members</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="governance.html">
              <span>Governance</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="our-commitment-to-quality.html">
              <span>Our Commitment To Quality</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Transparency Report</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
  </ul>

  <a class="mobile-nav__panel-cta" href="#">
    <span>View all</span>
    {{> icon
      name="arrow"
      width="16"
      height="16"
    }}
  </a>
</section>
