<!-- Mobile submenu panel: Industries -->
<section
  id="mobile-panel-industries"
  class="mobile-nav__panel"
  data-mobile-panel="industries"
  inert
>
  <div class="mobile-nav__panel-head">
    <button
      class="mobile-nav__back"
      type="button"
      data-mobile-back
      aria-label="Back to main menu"
    >
      {{> icon
        name="chevron-right"
        width="20"
        height="20"
        class="mobile-nav__back-icon"
      }}
    </button>
    <p class="mobile-nav__panel-title">Industries</p>
  </div>

  <p class="mobile-nav__panel-text">
    Sector knowledge combined with audit, tax and advisory expertise.
  </p>

  <ul class="mobile-nav__acc-list">
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Professional Practices</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Property & Construction</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Manufacturing & Retail</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Business Services</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Financial Services</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Travel, Leisure & Tourism</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>E-Commerce & Retail</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Renewable Energy</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Technology, Media & Telecoms</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Defence Industry</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Oil, Gas and Natural Resources</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
  </ul>

  <a class="mobile-nav__panel-cta" href="#">
    <span>View all</span>
    {{> icon
      name="arrow"
      width="16"
      height="16"
    }}
  </a>
</section>
