<!-- Mobile submenu panel: Services -->
<section
  id="mobile-panel-services"
  class="mobile-nav__panel"
  data-mobile-panel="services"
  inert
>
  <div class="mobile-nav__panel-head">
    <button
      class="mobile-nav__back"
      type="button"
      data-mobile-back
      aria-label="Back to main menu"
    >
      {{> icon
        name="chevron-right"
        width="20"
        height="20"
        class="mobile-nav__back-icon"
      }}
    </button>
    <p class="mobile-nav__panel-title">Services</p>
  </div>

  <p class="mobile-nav__panel-text">
    Specialist expertise across audit, tax, advisory and business support.
  </p>

  <div class="mobile-nav__accordion">
    <div class="mobile-nav__acc is-open">
      <button
        class="mobile-nav__acc-trigger"
        type="button"
        aria-expanded="true"
        data-mobile-acc
      >
        <span>Audit & Assurance</span>
        {{> icon
          name="chevron-down"
          width="20"
          height="20"
        }}
      </button>
      <div class="mobile-nav__acc-body">
        <ul class="mobile-nav__acc-list">
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>External Audit</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Assurance Services</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>ESG Assurance</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Corporate Reporting</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Submitting SRA Reports</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>ARLA Association</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Forensic Accounting</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
        </ul>
        <a class="mobile-nav__acc-view-all" href="#">
          <span>View all</span>
          {{> icon
            name="arrow"
            width="16"
            height="16"
          }}
        </a>
      </div>
    </div>

    <div class="mobile-nav__acc">
      <button
        class="mobile-nav__acc-trigger"
        type="button"
        aria-expanded="false"
        data-mobile-acc
      >
        <span>Tax</span>
        {{> icon
          name="chevron-down"
          width="20"
          height="20"
        }}
      </button>
      <div class="mobile-nav__acc-body" hidden>
        <ul class="mobile-nav__acc-list">
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Business Taxation</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Pillar 2 Compliance Services</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Private Client Taxation</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Innovation and R&D Tax</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Venture Capital Tax Reliefs</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Cross Border & Offshore</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Tax & Legal</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Making Tax Digital Compliance</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
        </ul>
        <a class="mobile-nav__acc-view-all" href="#">
          <span>View all</span>
          {{> icon
            name="arrow"
            width="16"
            height="16"
          }}
        </a>
      </div>
    </div>

    <div class="mobile-nav__acc">
      <button
        class="mobile-nav__acc-trigger"
        type="button"
        aria-expanded="false"
        data-mobile-acc
      >
        <span>Business Services & Outsourcing</span>
        {{> icon
          name="chevron-down"
          width="20"
          height="20"
        }}
      </button>
      <div class="mobile-nav__acc-body" hidden>
        <ul class="mobile-nav__acc-list">
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Accountancy</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Outsourcing</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Company Formation</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>IT, Computer & Sage</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Human Resources</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Management</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Finance Professionals</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
        </ul>
        <a class="mobile-nav__acc-view-all" href="#">
          <span>View all</span>
          {{> icon
            name="arrow"
            width="16"
            height="16"
          }}
        </a>
      </div>
    </div>

    <div class="mobile-nav__acc">
      <button
        class="mobile-nav__acc-trigger"
        type="button"
        aria-expanded="false"
        data-mobile-acc
      >
        <span>Advisory</span>
        {{> icon
          name="chevron-down"
          width="20"
          height="20"
        }}
      </button>
      <div class="mobile-nav__acc-body" hidden>
        <ul class="mobile-nav__acc-list">
          <li>
            <a class="mobile-nav__acc-link" href="corporate-services.html">
              <span>Corporate Services</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Corporate Finance</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Due Diligence</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Valuations</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Acquisitions</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Buying & Selling a Business</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Mergers & Acquisitions</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Raising Finance</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>External Finance</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>UK Inward Investment</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Starting a UK Business</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Business Structure</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Legal Requirements</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Marketing</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Directors Investment</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>FinTech Compliance Solutions</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Crypto Assets Compliance</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
        </ul>
        <a class="mobile-nav__acc-view-all" href="#">
          <span>View all</span>
          {{> icon
            name="arrow"
            width="16"
            height="16"
          }}
        </a>
      </div>
    </div>

    <div class="mobile-nav__acc">
      <button
        class="mobile-nav__acc-trigger"
        type="button"
        aria-expanded="false"
        data-mobile-acc
      >
        <span>Capital Markets</span>
        {{> icon
          name="chevron-down"
          width="20"
          height="20"
        }}
      </button>
      <div class="mobile-nav__acc-body" hidden>
        <ul class="mobile-nav__acc-list">
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>AIM-IPO</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Initial Public Offerings</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Private Equity</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Reporting Accountant</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Safeguarding Audit Advisory Services</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Cass Audit Services UK</span>
              {{> icon
                name="arrow"
                width="16"
                height="16"
              }}
            </a>
          </li>
        </ul>
        <a class="mobile-nav__acc-view-all" href="#">
          <span>View all</span>
          {{> icon
            name="arrow"
            width="16"
            height="16"
          }}
        </a>
      </div>
    </div>
  </div>

  <a class="mobile-nav__panel-cta" href="#">
    <span>Explore Our Expertise</span>
    {{> icon
      name="arrow"
      width="16"
      height="16"
    }}
  </a>
</section>
