<!-- Mobile submenu panel: Services -->
<section
  class="mobile-nav__panel"
  id="mobile-panel-services"
  data-mobile-panel="services"
  inert
>
  <div class="mobile-nav__panel-head">
    <button
      class="mobile-nav__back"
      type="button"
      data-mobile-back
      aria-label="Back to main menu"
    >
      {{> icon name="chevron-right" width="20" height="20" class="mobile-nav__back-icon"}}
    </button>
    <p class="mobile-nav__panel-title">Services</p>
  </div>

  <p class="mobile-nav__panel-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod
    tempor.
  </p>

  <div class="mobile-nav__accordion">
    <div class="mobile-nav__acc is-open">
      <button
        class="mobile-nav__acc-trigger"
        type="button"
        aria-expanded="true"
        data-mobile-acc
      >
        <span>Lorem Ipsum Dolor</span>
        {{> icon name="chevron-down" width="20" height="20"}}
      </button>
      <div class="mobile-nav__acc-body">
        <ul class="mobile-nav__acc-list">
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Lorem Ipsum</span>
              {{> icon name="arrow" width="16" height="16"}}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Dolor Sit Amet</span>
              {{> icon name="arrow" width="16" height="16"}}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Consectetur Elit</span>
              {{> icon name="arrow" width="16" height="16"}}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Sed Do Eiusmod</span>
              {{> icon name="arrow" width="16" height="16"}}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Tempor Incididunt</span>
              {{> icon name="arrow" width="16" height="16"}}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Ut Labore Et Dolore</span>
              {{> icon name="arrow" width="16" height="16"}}
            </a>
          </li>
        </ul>
        <a class="mobile-nav__acc-view-all" href="#">
          <span>Lorem ipsum dolor</span>
          {{> icon name="arrow" width="16" height="16"}}
        </a>
      </div>
    </div>

    <div class="mobile-nav__acc">
      <button
        class="mobile-nav__acc-trigger"
        type="button"
        aria-expanded="false"
        data-mobile-acc
      >
        <span>Sit Amet</span>
        {{> icon name="chevron-down" width="20" height="20"}}
      </button>
      <div class="mobile-nav__acc-body" hidden>
        <ul class="mobile-nav__acc-list">
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Dolor Sit Amet</span>
              {{> icon name="arrow" width="16" height="16"}}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Consectetur Elit</span>
              {{> icon name="arrow" width="16" height="16"}}
            </a>
          </li>
        </ul>
        <a class="mobile-nav__acc-view-all" href="#">
          <span>Lorem ipsum dolor</span>
          {{> icon name="arrow" width="16" height="16"}}
        </a>
      </div>
    </div>

    <div class="mobile-nav__acc">
      <button
        class="mobile-nav__acc-trigger"
        type="button"
        aria-expanded="false"
        data-mobile-acc
      >
        <span>Consectetur Adipiscing</span>
        {{> icon name="chevron-down" width="20" height="20"}}
      </button>
      <div class="mobile-nav__acc-body" hidden>
        <ul class="mobile-nav__acc-list">
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Lorem Ipsum</span>
              {{> icon name="arrow" width="16" height="16"}}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Sed Do Eiusmod</span>
              {{> icon name="arrow" width="16" height="16"}}
            </a>
          </li>
        </ul>
        <a class="mobile-nav__acc-view-all" href="#">
          <span>Lorem ipsum dolor</span>
          {{> icon name="arrow" width="16" height="16"}}
        </a>
      </div>
    </div>

    <div class="mobile-nav__acc">
      <button
        class="mobile-nav__acc-trigger"
        type="button"
        aria-expanded="false"
        data-mobile-acc
      >
        <span>Sed Do Eiusmod</span>
        {{> icon name="chevron-down" width="20" height="20"}}
      </button>
      <div class="mobile-nav__acc-body" hidden>
        <ul class="mobile-nav__acc-list">
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Tempor Incididunt</span>
              {{> icon name="arrow" width="16" height="16"}}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Ut Labore Et Dolore</span>
              {{> icon name="arrow" width="16" height="16"}}
            </a>
          </li>
        </ul>
        <a class="mobile-nav__acc-view-all" href="#">
          <span>Lorem ipsum dolor</span>
          {{> icon name="arrow" width="16" height="16"}}
        </a>
      </div>
    </div>

    <div class="mobile-nav__acc">
      <button
        class="mobile-nav__acc-trigger"
        type="button"
        aria-expanded="false"
        data-mobile-acc
      >
        <span>Tempor Incididunt</span>
        {{> icon name="chevron-down" width="20" height="20"}}
      </button>
      <div class="mobile-nav__acc-body" hidden>
        <ul class="mobile-nav__acc-list">
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Magna Aliqua</span>
              {{> icon name="arrow" width="16" height="16"}}
            </a>
          </li>
          <li>
            <a class="mobile-nav__acc-link" href="#">
              <span>Ut Enim Ad Minim</span>
              {{> icon name="arrow" width="16" height="16"}}
            </a>
          </li>
        </ul>
        <a class="mobile-nav__acc-view-all" href="#">
          <span>Lorem ipsum dolor</span>
          {{> icon name="arrow" width="16" height="16"}}
        </a>
      </div>
    </div>
  </div>

  <article class="mobile-nav__featured">
    <div class="mobile-nav__featured-media">
      <img
        src="/images/mega-menu-featured.png"
        alt=""
        width="370"
        height="170"
      />
    </div>
    <div class="mobile-nav__featured-content">
      <p class="mobile-nav__featured-label">Lorem Ipsum</p>
      <p class="mobile-nav__featured-title">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <a class="mobile-nav__featured-link" href="#">
        <span>Lorem ipsum</span>
        {{> icon name="arrow" width="16" height="16"}}
      </a>
    </div>
  </article>

  <a class="mobile-nav__cta site-button primary" href="#">
    <span>Contact us</span>
    {{> icon name="arrow" width="16" height="16"}}
  </a>
</section>
