@use '../base/variables' as *;

.site-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5%;
  border: 1px solid transparent;
  transition: $animation-speed;

  &.primary {
    background-color: $color-red;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-red;
      border: 1px solid $color-red;
    }
  }

  &.secondary {
    background-color: transparent;
    color: $color-white;
    border: 1px solid $color-white;

    &:hover {
      background-color: $color-gray;
      color: $color-white;
      border: 1px solid $color-gray;
    }
  }

  &.secondary-red {
    background-color: transparent;
    color: $color-red;
    border: 1px solid $color-red;

    &:hover {
      background-color: $color-gray;
      color: $color-white;
      border: 1px solid $color-gray;
    }
  }
}

.site-link {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  color: $color-red;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.5%;
  transition: color 0.3s ease;

  svg {
    flex-shrink: 0;
    box-sizing: content-box;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid currentColor;
    transition: all 0.3s ease;
  }

  &:hover {
    svg {
      color: $color-white;
      background-color: $color-red;
      border-color: $color-red;
    }
  }

  &--on-dark {
    color: $color-white;

    svg {
      border-color: $color-white;
    }

    &:hover {
      color: $color-red;

      svg {
        color: $color-white;
        background-color: $color-red;
        border-color: $color-red;
      }
    }
  }
}
