@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-style: #{$style};
        font-weight: #{$weight};
        src: url("/fonts/#{$file_name}.eot") format("eot"),
        url("/fonts/#{$file_name}.woff") format("woff"),
        url("/fonts/#{$file_name}.woff2") format("woff2"),
        url("/fonts/#{$file_name}.ttf") format("ttf"),
        url("/fonts/#{$file_name}.svg") format("svg");
        font-display: swap;
    }
}

// Add your font files into `public/fonts/` and enable includes below as needed.
// Example:
// @include font('MyFont', 'MyFont-Regular', 400, normal);